{% extends "./layout.html" %}

{% block title %}文章{% endblock %}

{% block main %}
{% if messages.success %}
<div class="alert alert-success">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    {{ messages.success }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
{% endif %}
{% if messages.error %}
<div class="alert alert-error">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    {{ messages.error }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
{% endif %}
<div class="panel panel-default">
    <div class="panel-heading">
        <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="/">全部</a></li>
            <li role="presentation"><a href="/?category=jinghua">精华</a></li>
            <li role="presentation"><a href="/?category=fenxiang">分享</a></li>
            <li role="presentation"><a href="/?category=wenda">问答</a></li>
            <li role="presentation"><a href="/?category=zhaoping">招聘</a></li>
        </ul>
    </div>
        <!-- Table -->
        <ul class="list-group">
            {% for article in articles%}
            <li class="list-group-item">
                <img src="{{article.user.avatar}}" alt="avatar" class="img-rounded article-avatar">
                <span class="article-count"><span class="text-primary">{{article.countComment}}</span >/<span class="text-muted">{{article.countView}}</span></span>
                {% if article.order === 100 %}<span class="label label-success article-tag">顶置</span>
                {% elif article.isGreat %}<span class="label label-success article-tag">精华</span>
                {% else %}<span class="label label-default article-tag">{{ article.category.title }}</span>{% endif %}
                <a class="article-title" href="/article?id={{article.id}}">{{article.title}}</a>
                <span class="article-time">{{article.updatedAt|formatDate}}</span>
            </li>
            {% endfor %}
        </ul>
        <ul class="pagination">
            <li>
                <a href="/?category={{category}}&page={% if page - 5 >= 0%}{{page - 5}}{% else %}0{% endif %}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% for i in pagination %}
            <li {%if i === page %}class="active"{% endif %}><a href="/?category={{category}}&page={{i}}">{{i + 1}}</a></li>
            {% endfor %}
            <li>
                <a href="/?category={{category}}&page={% if page + 5 < pages %}{{page + 5}}{% else %}{{pages - 1}}{% endif %}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
</div>
{% endblock %}

{% block sidebar %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Panel title</h3>
    </div>
    <div class="panel-body">
        sidebar
    </div>
</div>
{% endblock %}

{% block css %}
<style>
    .item {
        vertical-align: middle;
    }
    .article-time {
        font-size: 10px;
        vertical-align: middle;
    }
    .article-avatar {
        width: 32px;
        vertical-align: middle;
    }
    .article-count {
        margin-left: 10px;
        vertical-align: middle;
    }
    .article-tag {
        margin-left: 10px;
        vertical-align: middle;
    }
    .article-title {
        margin-left: 10px;
        vertical-align: middle;
    }
    .article-time {
        float: right;
        vertical-align: middle;
    }
</style>
{% endblock %}

{% block script %}
<script>

</script>
{% endblock %}
