{% extends "./layout.html" %}

{% block title %}文章{% endblock %}

{% block main %}

<div class="panel panel-default">

    <div class="panel-heading">
        <a href="/">首页</a>
        <span>/</span>
        <span>设置</span>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" method='POST' action="/profile">
            <div class="form-group">
                <label class="col-sm-3 control-label" for="nickname">昵称</label>
                <div class="col-sm-7">
                    <input class="form-control" type="text" id="nickname"  name="nickname" value="{{user.nickname}}" autofocus >
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="email">邮箱</label>
                <div class="col-sm-7">
                    <input class="form-control" type="email" id="email" value="{{user.email}}" disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="website">个人网站</label>
                <div class="col-sm-7">
                    <input class="form-control" type="text" id="website" name="website" value="{{user.website}}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="address">所在地点</label>
                <div class="col-sm-7">
                    <input class="form-control" type="text" id="address" name="address" value="{{user.address}}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="github">github</label>
                <div class="col-sm-7">
                    <input class="form-control" type="text" id="github" value="{{user.github.url}}" disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="about">个性签名</label>
                <div class="col-sm-7">
                    <textarea class="form-control" id="about" name="about" rows="3">{{user.about}}</textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-7">
                    <button class="btn btn-primary" type="submit">保存设置</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        更改密码
    </div>
    <div class="panel-body">
        <form class="form-horizontal" method='POST' action="/password">
            <div class="form-group">
                <label class="col-sm-3 control-label" for="oldPassword">当前密码</label>
                <div class="col-sm-7">
                    <input class="form-control" id="oldPassword" type="password" name="oldPassword">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="newPassword">新密码</label>
                <div class="col-sm-7">
                    <input class="form-control" id="newPassword" type="password" name="newPassword">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-7">
                    <button class="btn btn-primary" type="submit">更改密码</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block sidebar %}
{% include "./partial/sidebar-profile.html" %}
{% endblock %}

{% block css %}
<style>
</style>
{% endblock %}

{% block script %}
<script>

</script>
{% endblock %}
