.navbar.navbar-default.navbar-fixed-top.navbar-inverse
    .container
        a.navbar-brand(href='/')
            img(src="/img/cnodejs_light.svg", width='100')
        form.navbar-form.navbar-left
            div.form-group
                input.form-control(type='text')
            button.btn.btn-default(type='submit') 搜索
        ul.nav.navbar-nav.navbar-right
            li
                a(href='/') 首页
            li
                a(href='/') 新手入门
            li
                a(href='/signup') 注册
            li
                a(href='/') 登录
