<div class="panel panel-default">
    <div class="panel-heading">
        友情社区
    </div>
    <div class="panel-body">
        <a><img src="https://o4j806krb.qnssl.com/public/images/ruby-china-20150529.png" width="100%"></a>
        <div class="sep10"></div>
        <a><img src="https://o4j806krb.qnssl.com/public/images/golangtc-logo.png" width="100%"></a>
        <div class="sep10"></div>
        <a><img src="https://o4j806krb.qnssl.com/public/images/phphub-logo.png" width="100%"></a>
    </div>
</div>
